<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter your username" name="username">
        <!-- <input type="text" placeholder="enter your content ">
         -->
         <br><br>
        <textarea name="content" placeholder="Write your posts" id="content" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Submit Post</button>

    </form>
</body>
</html>